.form-bg-gradient{  
	height: 100vh;  background: transparent
	linear-gradient(60deg, #FF4E6F 0%, #FE4E71 30%, #FC5079 48%, #F85288 63%,
	#F4569C 77%, #ED5BB6 89%, #E661D6 100%, #E662D7 100%) 0% 0% no-repeat
	padding-box;  
}

.form-left-gradient{
	background: transparent linear-gradient(210deg, #FF4E6F 0%, #FF506B 27%, #FF5961 47%, #FF6751 66%, #FF7B39 84%, #FF931E 100%) 0% 0% no-repeat padding-box;
}

.form-shadow-lg{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.d-btn-signup{
	width:300px;
	background-color: #FF4E6F;
	color:#fff!important;
	border-radius: 5px;

}


.d-btn-signIn{
	background-color:#E662D7;
	color:#fff;
	border-radius: 5px;
}

.forgot-password-link{
	color: #999999;
}

.remember-text{
	color: #999999;
}

.d-btn-facebook{
	background-color:#29ABE2;
	color:#fff!important;
	border-radius: 5px;
}
.d-btn-google{
	background-color:#1B1464;
	color:#fff!important;
	border-radius: 5px;
}
.d-signup-form input::placeholder{
	color:#b3b3b3;
}
.d-signup-form input{
	border-width: 2px;
	background-color:#f1eded;
	border-color:#e8e5e5;
	border-radius: 3px;

}
.d-signup-form input:focus{
	border-color:#FF4E6F;
	background-color:#f1eded;
	box-shadow: none;
}

.form-bg-gradient .rounded-sm{
	/* border-radius: 5px!important; */
}

.d-signup-form .terms-policy-text{
	font-size: 14px;
}

.font-size-12px{
	font-size:12px;
}
.font-size-13px{
	font-size:13px;
}
.font-size-14px{
	font-size:14px;
}
.font-size-15px{
	font-size:15px;
}
.font-size-16px{
	font-size:16px;
}
.font-size-17px{
	font-size:17px;
}
.font-size-18px{
	font-size:18px;
}
.font-size-19px{
	font-size:19px;
}
.font-size-20px{
	font-size:20px;
}
.font-size-21px{
	font-size:21px;
}
.font-size-22px{
	font-size:22px;
}
.font-size-23px{
	font-size:23px;
}
.font-size-24px{
	font-size:24px;
}


@media screen and (max-width : 728px) {
    .d-btn-signup{
		width:70%;
	}
}
@media screen and (max-width : 428px) {
    .d-btn-signup{
		width:90%;
	}
}

